# Copyright (c) 2026 ZitaoTech
# SPDX-License-Identifier: MIT

if BOARD_ZITAOTECH_Q10


config ZMK_KEYBOARD_NAME
    default "ZitaoTech_q10"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

if ZMK_BACKLIGHT

config PWM
    default y

config LED_PWM
    default y

endif # ZMK_BACKLIGHT

config BT_CTLR
    default BT

endif # BOARD_ZITAOTECH_Q10


if BOARD_ZITAOTECH_Q10_PERIPHERAL

config ZMK_KEYBOARD_NAME
    default "ZitaoTech_q10_peripheral"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_PERIPHERAL
    default y

config ZMK_SPLIT_PERIPHERAL_HID_INDICATORS
    default y

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

if ZMK_BACKLIGHT

config PWM
    default y

config LED_PWM
    default y

endif # ZMK_BACKLIGHT

config BT_CTLR
    default BT

endif # BOARD_ZITAOTECH_Q10_PERIPHERAL
